    /* fontes */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap'); /* header */


:root {
    --cor-fundo: #0d1117;
    --cor-texto: #a2a2a5;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
}

footer {
    position: absolute;
    bottom: 3vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

header {
    min-height: 75px;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}
.container-link {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 400ms ease-in-out;
}
.container-link:not(.link-slide-selecionado):hover {
    cursor: pointer;
    transform: scale(1.2);
}
.container-link p {
    font-family: 'Mulish', sans-serif;
    background: linear-gradient(93deg, rgba(162,162,165,1) 0%, rgba(178,178,207,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

    /* definindo posições dos links */

.link-slide-selecionado {
    width: 40vw;
    margin: 0px 30vw;
    font-size: 40px;
}
                /* links à esquerda */
#link-espectativa.link-slide-esquerdo {
    left: 15vw;
}
#link-porque.link-slide-esquerdo {
    left: 7vw;
}
#link-sobre.link-slide-esquerdo {
    left: 1vw;
}
                /* links à direita */
#link-porque.link-slide-direito {
    right: 22vw;
}
#link-espectativa.link-slide-direito {
    right: 11vw;
}
#link-projetos.link-slide-direito {
    right: 3vw;
}


main {
    position: relative;
}

.slide {
    position: absolute;
    width: 70vw;
    height: 60vh;
    margin: auto 15vw;
    transition: all 300ms ease-in-out;
}
.slide.esquerdo {
    transform: translateX(-100vw);
}
.slide.direito {
    transform: translateX(100vw);
}


/*  Projetos e mais */
#projetos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
#icone-gh {
    font-size: 30vw;
}
#icone-gh:hover {
    cursor: pointer;
}
#lista-projetos {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
#lista-projetos li {
    margin: 5px 10px;
    font-size: 40px;
}
#lista-projetos li a {
    color: inherit;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
}
#lista-projetos li.gh-atv a:link, 
#lista-projetos li.gh-atv a:visited {
    color: #3691f9;
}
#lista-projetos li a:hover,
#lista-projetos li a:active {
    text-decoration: underline;
}

#lista-projetos li i {
    font-size: 50px;
}
#lista-projetos li:not(.gh-atv) i {
    display: none;
}

/* footer */
#botoes-social {
    display: flex;
    flex-direction: row;
    gap: 7px;
}
#botoes-social button {
    color: var(--cor-texto);
    background-color: inherit;
    border: 1px var(--cor-texto) solid;
    font-size: 25px;
    border-radius: 100%;
    padding: 4px 6px;
}
#botoes-social button:hover {
    color: var(--cor-fundo);
    background-color: var(--cor-texto);
    border-color: var(--cor-fundo);
    cursor: pointer;
    transform: translate(2px, 2px);
}