    /* fontes */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap'); /* header */
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap'); /* paragrafos */
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap'); /* teste footer */


:root {
    --cor-fundo: #0d1117;
    --cor-texto: #a2a2a5;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

footer {
    position: absolute;
    bottom: 3vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header {
    min-height: 75px;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}
.container-link {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 400ms ease-in-out;
}
.container-link:not(.link-slide-selecionado):hover {
    cursor: pointer;
}
.container-link p {
    font-family: 'Mulish', sans-serif;
    background: linear-gradient(93deg, rgba(162,162,165,1) 0%, rgba(178,178,207,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

    /* definindo posições dos links */

.link-slide-selecionado {
    width: 40vw;
    margin: 0px 30vw;
    font-size: 40px;
    transform: translateY(25px);
}
                /* links à esquerda */
#link-espectativa.link-slide-esquerdo {
    left: 15vw;
}
#link-porque.link-slide-esquerdo {
    left: 7vw;
}
#link-sobre.link-slide-esquerdo {
    left: 1vw;
}
                /* links à direita */
#link-porque.link-slide-direito {
    right: 22vw;
}
#link-espectativa.link-slide-direito {
    right: 11vw;
}
#link-projetos.link-slide-direito {
    right: 3vw;
}


main {
    position: relative;
}

.slide {
    position: absolute;
    width: 70vw;
    height: 55vh;
    margin: auto 15vw;
    transition: all 300ms ease-in-out;
}
.slide.esquerdo {
    transform: translateX(-100vw);
}
.slide.direito {
    transform: translateX(100vw);
}

/* sobre */
#sobre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#imagem-pessoal {
    filter: grayscale(100%) contrast(0.8);
    border-radius: 1000px;
    order: 2;
}
#sobre #container-sobre {
    margin: 0px 3vw;
    text-align: justify;
}
#container-sobre p {
    margin: 10px 0px;
    text-indent: 20px;
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
}


/*  porque e expectativas  */
#porque,
#expectativas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
#porque p, 
#expectativas p {
    margin: 10px 9vw;
    text-indent: 20px;
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
}



/*  Projetos e mais */
#projetos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
#icone-gh {
    font-size: 23em;
}
#icone-gh:hover {
    cursor: pointer;
}
#lista-projetos {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
#lista-projetos li {
    margin: 5px 10px;
    font-size: 40px;
}
#lista-projetos li a {
    color: inherit;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
}
#lista-projetos li a:hover,
#lista-projetos li a:active {
    text-decoration: underline;
}

#lista-projetos li i {
    font-size: 50px;
}
#lista-projetos li i:hover {
    cursor: pointer;
    color: #3691f9;
}

/* footer */
footer p {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
}
#botoes-social {
    display: flex;
    flex-direction: row;
    gap: 7px;
}
#botoes-social button {
    color: var(--cor-texto);
    background-color: inherit;
    border: 1px var(--cor-texto) solid;
    font-size: 25px;
    border-radius: 100%;
    padding: 4px 6px;
}
#botoes-social button:hover {
    color: var(--cor-fundo);
    background-color: var(--cor-texto);
    border-color: var(--cor-fundo);
    cursor: pointer;
    transform: translate(2px, 2px);
}


/* responsvidade */

@media (max-width: 900px) and (min-width: 746px) {
    .link-slide-selecionado {
        font-size: 30px;
        transform: translateY(15px);
    }
    #link-espectativa.link-slide-esquerdo {
        left: 19vw;
    }
    #link-porque.link-slide-esquerdo {
        left: 9vw;
    }
    #link-sobre.link-slide-esquerdo {
        left: 2vw;
    }
    #link-porque.link-slide-direito {
        right: 26vw;
    }
    #link-espectativa.link-slide-direito {
        right: 13vw;
    }
    #link-projetos.link-slide-direito {
        right: 3vw;
    }

    #sobre #imagem-pessoal {
        width: 210px;
    }
    #sobre p {
        font-size: 2vw;
    }
    #projetos li {
        font-size: 30px;
    }
    #projetos #icone-gh {
        font-size: 15em;
    }
    .container-link:not(.link-slide-selecionado):hover {
        transform: scale(1.2);
    }
}

@media (max-width: 745px) and (min-width: 561px) {
    .link-slide-selecionado {
        font-size: 22px;
        transform: translateY(40px);
    }
    #link-espectativa.link-slide-esquerdo {
        left: 19vw;
    }
    #link-porque.link-slide-esquerdo {
        left: 9vw;
    }
    #link-sobre.link-slide-esquerdo {
        left: 2vw;
    }
    #link-porque.link-slide-direito {
        right: 27vw;
    }
    #link-espectativa.link-slide-direito {
        right: 12vw;
    }
    #link-projetos.link-slide-direito {
        right: 2vw;
    }

    #imagem-pessoal {
        display: none;
    }
    #projetos #icone-gh {
        font-size: 15em;
    }
    #projetos li {
        font-size: 30px;
    }
    .container-link:not(.link-slide-selecionado) {
        font-size: 13px;
    }
    .container-link:not(.link-slide-selecionado):hover {
        transform: scale(1.2);
    }
    #sobre p,
    #porque p,
    #expectativas p {
        font-size: 17px;
    }
}
@media (max-width: 560px) {
    html,
    body {
        overflow: hidden;
    }
    .link-slide-selecionado {
        font-size: 22px;
        transform: translateY(40px);
    }
    #link-espectativa.link-slide-esquerdo {
        left: 33vw;
    }
    #link-porque.link-slide-esquerdo {
        left: 15vw;
    }
    #link-sobre.link-slide-esquerdo {
        left: 2vw;
    }
    #link-porque.link-slide-direito {
        right: 40vw;
    }
    #link-espectativa.link-slide-direito {
        right: 18vw;
    }
    #link-projetos.link-slide-direito {
        right: 2vw;
    }

    #imagem-pessoal {
        display: none;
    }
    #projetos #icone-gh {
        font-size: 15em;
    }
    #projetos li {
        font-size: 30px;
    }
    .container-link:not(.link-slide-selecionado) {
        font-size: 13px;
    }
    #sobre p,
    #porque p,
    #expectativas p {
        font-size: 15px;
    }

    .container-link:not(.link-slide-selecionado) {
        transform: translateY(-20px);
    }
    .link-slide-selecionado{
        width: 70%;
        margin: 0px 15%;
    }
}