    /* fontes */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap'); /* header */


:root {
    --cor-fundo: #0d1117;
    --cor-texto: #a2a2a5;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}


header {
    min-height: 75px;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    position: relative;
}
.container-link {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease-in-out;
}
.container-link:not(.link-slide-selecionado) {
    cursor: pointer;
}
.container-link p {
    font-family: 'Mulish', sans-serif;
    background: linear-gradient(93deg, rgba(162,162,165,1) 0%, rgba(178,178,207,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

    /* definindo posições */

.link-slide-selecionado {
    width: 40vw;
    margin: 0px 30vw;
    font-size: 40px;
}

                /* links à esquerda */
#link-espectativa.link-slide-esquerdo {
    left: 15vw;
}
#link-porque.link-slide-esquerdo {
    left: 7vw;
}
#link-sobre.link-slide-esquerdo {
    left: 1vw;
}

                /* links à direita */
#link-porque.link-slide-direito {
    right: 22vw;
}
#link-espectativa.link-slide-direito {
    right: 11vw;
}
#link-projetos.link-slide-direito {
    right: 3vw;
}